// $text-dark-accent: #9400d3;
$text-dark-accent: #ab00ff; // 8b00ff
$text-dark-primary: #bdbdbd;
$text-light-accent: #8b00ff;
$text-dark: #9c9c9c;
$background-dark: #1e1e1e;
$background-light: #eee;
